/*I'm will not use bootstrap or too much css in this project
but just a little for responsive design*/

/*Mobile*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    color: whitesmoke;
    margin: 20px;
    text-align: center;
}

a{
    color: white;
    text-shadow: 2px 1px 1px yellowgreen;
}

.row{
    margin: 20px 0px;
}

/*Flash messages*/
.success{
    padding: 10px;
    border-bottom: 1px dotted green;
    color: green;
    text-shadow: 2px 1px 1px white;
}

.error{
    padding: 10px;
    border-bottom: 1px dotted red;
    color: red;
    text-shadow: 1px 1px 1px white;
}

ul{
    padding: 10px;
}

li{
    margin: 1em 0px;
}

/*Desktop*/
@media only screen and (min-width: 768px) {
    ul{
        grid-template-columns: auto 500px auto;
        
    }

    li{
        grid-column-start: 2;
        margin: 0px auto;
        margin-bottom: 1em;
        max-width: 430px;

    }

}